<% provide(:title, 'Swiggyy') %>
<body>
   <div class="container-fluid">
      <div class="row">
        <% @restaurants.each do |restaurant| %>
          <div class="col-sm-4">
            <div class="cards">
           
            <div class="card bg-light text-dark">
              <div class="card-body">
                <a href="<%= restaurant_path(restaurant)  %>"> <%= image_tag("" , alt:"picture")%></a>
                <div class="card-footer">
                <h4 class="card-text"><%=restaurant.name.capitalize %></h4>
                <!--<p class="card-text"><%= restaurant.phno %></p>-->
              </div>
              </div>
            </div>
          </div>
          </div>
        <% end -%>
   </div>
   <%= link_to '<button type="button" class="btn btn-primary">New</button>'.html_safe, new_restaurant_path %>
  </div>
</body>