
<header class="navbar navbar-fixed-top navbar-inverse">
    <nav>
      <ul class="nav navbar-nav navbar-left">
         <li style="font-size: 20px" class="<%= 'active' if current_page?('/') %>"><%= link_to "Swiggyy", "/" %></li>
       </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
           <li> <img class="img-circle" src="<%= current_user.image %>"  height="30px" width="30px" onerror=this.src="https://www.feedbackhall.com/uploads/user-icon.png"><li>
            <li><%= link_to "#{current_user.email[/[^@]+/].capitalize}", user_path(current_user) %></li>
          <% end %>
        	<li class="<%= 'active' if current_page?(static_pages_help_path) %>"><%= link_to "Help", static_pages_help_path %></li>
        </ul>
    </nav>
</header>
